@charset 'UTF-8';

/// List count values - Counts the number of occurrences of each value of `$list`.
///
/// @group list
///
/// @ignore Documentation: http://at-import.github.io/SassyLists/documentation/#function-list-count-values
///
/// @param {List} $list - list to count values from
///
/// @example
/// list-count-values(a b c a)
/// // (a: 2, b: 1, c: 1)
///
/// @return {Map} Values mapped to their count
///

@function list-count-values($list) {
    $map: ();

    @each $item in $list {
        $index: map-get($map, $item);
        $value: if($index, $index + 1, 1);
        $map: map-merge($map, ($item: $value));
    }

    @return $map;
}
