@charset 'UTF-8';

/// List last index - Returns last index of `$value` in `$list`.
///
/// @group list
///
/// @ignore Documentation: http://at-import.github.io/SassyLists/documentation/#function-list-last-index
///
/// @param {List} $list  - list to search
/// @param {*}    $value - value to be searched for
///
/// @example
/// list-last-index(a b a, a)
/// // 3
///
/// @example
/// list-last-index(a b a, z)
/// // null
///
/// @return {Number | Null}
///

@function list-last-index($list, $value) {
    @for $i from length($list) through 1 {
        @if nth($list, $i)==$value {
            @return $i;
        }
    }

    @return null;
}
