@charset 'UTF-8';

/// List insert nth -
///
/// @group list
///
/// @ignore Documentation: http://at-import.github.io/SassyLists/documentation/#function-list-insert-nth
///
/// @requires is-true
///
/// @param {List}    $list  - list to update
/// @param {Number}  $index - index to add
/// @param {*}       $value - value to add
///
/// @throws List index $index is not a number for `list-insert-nth`.
/// @throws List index $index must be a non-zero integer for `list-insert-nth`.
///
/// @example
/// list-insert-nth(a b c, 2, z)
/// // a z b c
///
/// @example
/// list-insert-nth(a b c, 42, z)
/// // a b c z
///
/// @example
/// list-insert-nth(a b c, -42, z)
/// // null
///
/// @return {List | Null}
///

@function list-insert-nth($list, $index, $value) {
    $_: missing-dependencies('is-true');

    $length: length($list);

    @if type-of($index) !='number' {
        @error 'List index #{inspect($index)} is not a number for `list-insert-nth`.';
    }

    @if $index < 1 {
        @error 'List index #{$index} must be a non-zero integer for `list-insert-nth`.';
    }

    @if $index>$length {
        @return append($list, $value, list-separator($list));
    }

    $result: ();

    @for $i from 1 through $length {
        @if $i==$index {
            @if list-is-true($value) {
                $result: append($result, $value, list-separator($list));
            }
        }

        $result: append($result, nth($list, $i), list-separator($list));
    }

    @return $result;
}
