@charset 'UTF-8';

/// List sum - Sums up all numeric values in `$list`, stripping unit if `$force` set to `true`.
///
/// @group list
///
/// @ignore Documentation: http://at-import.github.io/SassyLists/documentation/#function-list-sum
///
/// @param {List} $list          - list
/// @param {Bool} $force [false] - enable/disable parseInt
///
/// @requires list-every
/// @requires is-number
///
/// @throws All items from list are not numbers for `list-sum`.
///
/// @example
/// list-sum(1 2 3)
/// // 6
///
/// @example
/// list-sum(a b 1)
/// null
///
/// @example
/// list-sum(1 2 3px, true)
/// // 6
///
/// @return {Number}
///

@function list-sum($list, $force: false) {
    $result: 0;

    @if not list-every($list, is-number) {
        @error 'All items from list are not numbers for `list-sum`.';
    }

    @each $item in $list {
        @if not unitless($item) and $force {
            $item: $item / ($item * 0 + 1);
        }

        @if unitless($item) {
            $result: $result + $item;
        }
    }

    @return $result;
}
