@charset 'UTF-8';

/// List purge - Removes all false and null values from `$list`.
///
/// @group list
///
/// @ignore Documentation: http://at-import.github.io/SassyLists/documentation/#function-list-purge
///
/// @requires is-true
/// @requires list-to-list
///
/// @param {List} $list - list to purge
///
/// @example
/// list-purge(null a false b)
/// // a b
///
/// @return {List}
///

@function list-purge($list) {
    $_: missing-dependencies('is-true', 'list-to-list');

    $result: ();

    @each $item in $list {
        @if is-true($item) {
            $result: append($result, $item, list-separator($list));
        }
    }

    @return list-to-list($result);
}
