@charset 'UTF-8';

////
/// General borders properties for site consistencie
///
/// @group borders
///
/// @author Samuel DIDIER-LAURENT
////


$border-width: 1px !default;
$border-style: solid !default;
$border-color: rgba(black, .6) !default;
$border-radius: 0.5rem !default;

$borders: (
    all: $border-width $border-style $border-color,
    width: $border-width,
    style: $border-style,
    color: $border-color,
    radius: $border-radius
) !default;

/// return value of the asked index for the `$borders` map
/// @param { String } $index

@function borders($index){
    @if not map-has-key($borders, $index) {
        @warn "No border property found for `#{$index}` in `$borders` map.";
    }
  @return map-get($borders, $index);
}
