////
/// Global z-index manager
///
/// @group z-index
///
/// @author Samuel DIDIER-LAURENT
////

$z-modal: 900 !default;
$z-dropdown: 800 !default;
$z-tooltip: 100 !default;
$z-default: 1 !default;
$z-below: -1 !default;
$z-depth: -1000 !default;

$z-index: (
    'modal': $z-modal,
    'dropdown': $z-dropdown,
    'tooltip': $z-tooltip,
    'default': $z-default,
    'below': $z-below,
    'depth': $z-depth,
) !default;

/// getter function
@function z-index($value) {
    @if not map-has-key($z-index, $value) {
        @warn "No z-index found for `#{$value}` in `$z-index` map.";
    }
    @return map-get($z-index, $value);
}
