@charset 'UTF-8';
////
/// Colors
///
/// @author Samuel DIDIER-LAURENT
/// @group variables/colors
////


// named colors
// -----
$light: white;
$dark: black;
$blue: #007bff;
$yellow: #ffc107;
$gray: #6c757d;
$green: #28a745;
$cyan: #17a2b8;
$red: #dc3545;


// semantic colors
// -----
$color-primary: $blue;
$color-secondary: $gray;
$color-success: $green;
$color-info: $cyan;
$color-warning: $yellow;
$color-danger: $red;

$color-font: $dark;
$color-selection: tint($color-primary, 40%);
$color-background: $light;
$color-foreground: $gray;

// semantic colors map
// -----
$colors: (
    'primary': $color-primary,
    'secondary': $color-secondary,
    'success': $color-success,
    'info': $color-info,
    'warning': $color-warning,
    'danger': $color-danger,
    'font': $color-font,
    'selection': $color-selection,
    'background': $color-background,
    'foreground': $color-foreground
);

/// return value of the asked index for the `$colors` map
/// @param { String } $index

@function colors($index){
    @if not map-has-key($colors, $index) {
        @warn "No z-index found for `#{$index}` in `$colors` map.";
    }
  @return map-get($colors, $index);
}
