@charset 'UTF-8';
////
/// Typography base values
///
/// @require $ratios
/// @group variables
/// @author [Samuel DIDIER-LAURENT](https://github.com/iStuffs)
////


$typography-ratio: ratios() !default;
$typography-base: 1.6rem !default;
$typography-line-height: 1.3 !default;

/// $typography
/// @type List
$typography: (
    'ratio': $typography-ratio,
    'base': $typography-base,
    'line-height': $typography-line-height
) !default;


