{
    "env": {
        "browser": true,
        "es6": true,
    },
    "extends": [
        "airbnb-base",
        "plugin:vue/essential"
    ],
    "globals": {
        "window": true,
        "document": true,
        "requestAnimationFrame": true,
        "fetch": true,
        "CustomEvent": true,
        "Headers": true,
        "FormData": true
    },
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
    }
}
