@charset 'UTF-8';
////
/// Minimalist grid system with flexbox
///
/// assumption box-sizing is border-box
///
/// @group Grid
/// @author Samuel DIDIER-LAURENT
////


// Variables
// ---------

/// @type Number
$grid-num-columns: 12 !default;

/// @type Length
$grid-gutter: 2rem !default;

/// @type Map
$grid: (
    'num-columns': $grid-num-columns,
    'gutter': $grid-gutter
) !default;


// Getters
// -------

/// $grid map getter function
@function grid($value) {
    @if not map-has-key($grid, $value) {
        @warn "No easing type found for `#{$value}` in `$grid` map.";
    }
    @return map-get($grid, $value);
}


// Mixins
// ------

/// grid-container
@mixin grid-container(){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & > * {
        flex: 0 1 auto;
    }
}

/// grid-colunms
@mixin grid-colunms($num-columns-width: 1, $max-columns: grid('num-columns'), $gutter: grid('gutter')) {
    @if comparable($num-columns-width, $max-columns) {
        width: calc(($num-columns-width / $max-columns * 100%) - $grid-gutter);
    } @else {
        @warn "can't divide `$num-columns-width` by `$max-columns`";
    }
    margin-bottom: $grid-gutter;
}

// Utility Classes
// ---------------

/// grid
.grid {
    @include grid-container;
}

/// column
.column {
    flex: 0 1 auto;
}

@for $i from 0 through grid('num-columns') {
    .column-#{$i} {
        @include grid-colunms($i);
    }
}

/// grid first - put element in first
.grid-first{
    order: -1;
}

/// grid last - push element after
.grid-last {
    order: 1;
}
