@charset 'UTF-8';
///
/// Simple power function
///
/// @group numbers
///
/// @param {Number} $number
/// @param {Number} $exponent
/// @return {Number}
///
/// @link https://css-tricks.com/snippets/sass/power-function/
///

@function simple-pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}
