////
/// Hover mixin to select all special states and disable default outline
///
/// @group mixin
///
/// @author Samuel DIDIER-LAURENT
////

@mixin hover() {
    &:hover,
    &:focus,
    &:active {
        @media (hover: hover) {
            outline: none;
            @content;
        }
    }
}
