@charset 'UTF-8';
////
/// Media query System
///
/// @group media-query
/// @author [Samuel DIDIER-LAURENT](https://github.com/iStuffs)
////


// Variables and CONSTANTS
// -----------------------

/// $MEDIA-TYPES ('all' | 'print' | 'screen' | 'speech')
/// @type Map
/// @link https://www.w3.org/TR/mediaqueries-4/#media-types
$MEDIA-TYPES: (
    'all',
    'print',
    'screen',
    'speech',
    // theses that follows are deprecated
    'aural',
    'braille',
    'embossed',
    'handheld',
    'projection',
    'tty',
    'tv'
) !default;

/// media-types
/// require $MEDIA-TYPES
@function media-types($value:'screen') {
    @if type-of($MEDIA-TYPES) != list {
        @warn "There is no `$MEDIA-TYPES` list.";
    } @else if index($MEDIA-TYPES, $value) == null {
        @warn "No media type `#{$value}` found in `$MEDIA-TYPES` list.";
    } @else {
        @return $value;
    }
    @return null;
}

/// $PIXEL
/// @type Length
$PIXEL: .0625rem;
/// $BREAKPOINTS
/// @type List
$BREAKPOINTS: (
    'mobile': 20rem,  // 320px
    'tablet': 48rem,  // 768px
    'desktop': 64rem, // 1024px
    'wide': 100rem    // 1600px
) !default;

@function breakpoints($key){
    @if type-of($BREAKPOINTS) != map {
        @warn "There is no `$BREAKPOINTS` map.";
    } @else if not map-has-key($BREAKPOINTS, $key) {
        @warn "No breakpoint value found for `#{$key}` in `$BREAKPOINTS` map.";
    } @else {
        @return map-get($BREAKPOINTS, $key);
    }
    @return null;
}

/// Mixin to manage responsive breakpoints
/// @author [Samuel DIDIER-LAURENT](https://github.com/iStuffs)
/// @param {String} $breakpoint ['desktop'] - Breakpoint name ('mobile' | 'tablet' | 'desktop' | 'wide')
/// @param {String} $media ['screen'] - Media name
/// @require $BREAKPOINTS

@mixin media($breakpoint: 'desktop', $media:'screen') {
    @media #{media-types($media)} and (min-width: breakpoints($breakpoint)) {
        @content;
    }
}
