@charset 'UTF-8';
////
/// Ellipis too long text to keep it one line
///
/// @group mixin
/// @author [Samuel DIDIER-LAURENT](https://github.com/iStuffs)
////

@mixin text-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
