////
/// Ellipis too long text to keep it one line
///
/// @group mixin
///
/// @author Samuel DIDIER-LAURENT
////

@mixin text-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
