@charset 'UTF-8';

////
/// Flat UI Colors
///
/// @group colors
///
/// @link https://flatuicolors.com/palette/defo
////

$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter-river: #3498db;
$amethyst: #9b59b6;
$wet-asphalt: #34495e;
$green-sea: #16a085;
$nephritis: #27ae60;
$belize-hole: #2980b9;
$wisteria: #8e44ad;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

$color-flat-ui: (
    'turquoise': $turquoise,
    'emerald': $emerald,
    'peter-river': $peter-river,
    'amethyst': $amethyst,
    'wet-asphalt': $wet-asphalt,
    'green-sea': $green-sea,
    'nephritis': $nephritis,
    'belize-hole': $belize-hole,
    'wisteria': $wisteria,
    'midnight-blue': $midnight-blue,
    'sun-flower': $sun-flower,
    'carrot': $carrot,
    'alizarin': $alizarin,
    'clouds': $clouds,
    'concrete': $concrete,
    'orange': $orange,
    'pumpkin': $pumpkin,
    'pomegranate': $pomegranate,
    'silver': $silver,
    'asbestos': $asbestos
);