@charset 'UTF-8';

////
/// Colors html -  variables and map for html default colors
///
/// @group colors
///
/// @link https: //www.materialui.co/htmlcolors
////

$gainsboro: Gainsboro;
$lightgray: LightGray;
$silver: Silver;
$darkgray: DarkGray;
$gray: Gray;
$dimgray: DimGray;
$lightslategray: LightSlateGray;
$slategray: SlateGray;
$darkslategray: DarkSlateGray;
$black: Black;
$cornsilk: Cornsilk;
$blanchedalmond: BlanchedAlmond;
$bisque: Bisque;
$navajowhite: NavajoWhite;
$wheat: Wheat;
$burlywood: BurlyWood;
$tan: Tan;
$rosybrown: RosyBrown;
$sandybrown: SandyBrown;
$goldenrod: Goldenrod;
$darkgoldenrod: DarkGoldenrod;
$peru: Peru;
$chocolate: Chocolate;
$saddlebrown: SaddleBrown;
$sienna: Sienna;
$brown: Brown;
$maroon: Maroon;
$indianred: IndianRed;
$lightcoral: LightCoral;
$salmon: Salmon;
$darksalmon: DarkSalmon;
$lightsalmon: LightSalmon;
$crimson: Crimson;
$red: Red;
$firebrick: FireBrick;
$darkred: DarkRed;
$pink: Pink;
$lightpink: LightPink;
$hotpink: HotPink;
$deeppink: DeepPink;
$mediumvioletred: MediumVioletRed;
$palevioletred: PaleVioletRed;
$lightsalmon: LightSalmon;
$coral: Coral;
$tomato: Tomato;
$orangered: OrangeRed;
$darkorange: DarkOrange;
$orange: Orange;
$gold: Gold;
$yellow: Yellow;
$lightyellow: LightYellow;
$lemonchiffon: LemonChiffon;
$lightgoldenrodyellow: LightGoldenrodYellow;
$papayawhip: PapayaWhip;
$moccasin: Moccasin;
$peachpuff: PeachPuff;
$palegoldenrod: PaleGoldenrod;
$khaki: Khaki;
$darkkhaki: DarkKhaki;
$greenyellow: GreenYellow;
$chartreuse: Chartreuse;
$lawngreen: LawnGreen;
$lime: Lime;
$limegreen: LimeGreen;
$palegreen: PaleGreen;
$lightgreen: LightGreen;
$mediumspringgreen: MediumSpringGreen;
$springgreen: SpringGreen;
$mediumseagreen: MediumSeaGreen;
$seagreen: SeaGreen;
$forestgreen: ForestGreen;
$green: Green;
$darkgreen: DarkGreen;
$yellowgreen: YellowGreen;
$olivedrab: OliveDrab;
$olive: Olive;
$darkolivegreen: DarkOliveGreen;
$mediumaquamarine: MediumAquamarine;
$darkseagreen: DarkSeaGreen;
$lightseagreen: LightSeaGreen;
$darkcyan: DarkCyan;
$teal: Teal;
$lavender: Lavender;
$thistle: Thistle;
$plum: Plum;
$violet: Violet;
$orchid: Orchid;
$fuchsia: Fuchsia;
$magenta: Magenta;
$mediumorchid: MediumOrchid;
$mediumpurple: MediumPurple;
$rebeccapurple: RebeccaPurple;
$blueviolet: BlueViolet;
$darkviolet: DarkViolet;
$darkorchid: DarkOrchid;
$darkmagenta: DarkMagenta;
$purple: Purple;
$indigo: Indigo;
$slateblue: SlateBlue;
$darkslateblue: DarkSlateBlue;
$mediumslateblue: MediumSlateBlue;
$aqua: Aqua;
$cyan: Cyan;
$lightcyan: LightCyan;
$paleturquoise: PaleTurquoise;
$aquamarine: Aquamarine;
$turquoise: Turquoise;
$mediumturquoise: MediumTurquoise;
$darkturquoise: DarkTurquoise;
$cadetblue: CadetBlue;
$steelblue: SteelBlue;
$lightsteelblue: LightSteelBlue;
$powderblue: PowderBlue;
$lightblue: LightBlue;
$skyblue: SkyBlue;
$lightskyblue: LightSkyBlue;
$deepskyblue: DeepSkyBlue;
$dodgerblue: DodgerBlue;
$cornflowerblue: CornflowerBlue;
$mediumslateblue: MediumSlateBlue;
$royalblue: RoyalBlue;
$blue: Blue;
$mediumblue: MediumBlue;
$darkblue: DarkBlue;
$navy: Navy;
$midnightblue: MidnightBlue;
$white: White;
$snow: Snow;
$honeydew: HoneyDew;
$mintcream: MintCream;
$azure: Azure;
$aliceblue: AliceBlue;
$ghostwhite: GhostWhite;
$whitesmoke: WhiteSmoke;
$seashell: SeaShell;
$beige: Beige;
$oldlace: OldLace;
$floralwhite: FloralWhite;
$ivory: Ivory;
$antiquewhite: AntiqueWhite;
$linen: Linen;
$lavenderblush: LavenderBlush;
$mistyrose: MistyRose;

$COLORS-HTML: (
    'gainsboro': $gainsboro,
    'lightgray': $lightgray,
    'silver': $silver,
    'darkgray': $darkgray,
    'gray': $gray,
    'dimgray': $dimgray,
    'lightslategray': $lightslategray,
    'slategray': $slategray,
    'darkslategray': $darkslategray,
    'black': $black,
    'cornsilk': $cornsilk,
    'blanchedalmond': $blanchedalmond,
    'bisque': $bisque,
    'navajowhite': $navajowhite,
    'wheat': $wheat,
    'burlywood': $burlywood,
    'tan': $tan,
    'rosybrown': $rosybrown,
    'sandybrown': $sandybrown,
    'goldenrod': $goldenrod,
    'darkgoldenrod': $darkgoldenrod,
    'peru': $peru,
    'chocolate': $chocolate,
    'saddlebrown': $saddlebrown,
    'sienna': $sienna,
    'brown': $brown,
    'maroon': $maroon,
    'indianred': $indianred,
    'lightcoral': $lightcoral,
    'salmon': $salmon,
    'darksalmon': $darksalmon,
    'lightsalmon': $lightsalmon,
    'crimson': $crimson,
    'red': $red,
    'firebrick': $firebrick,
    'darkred': $darkred,
    'pink': $pink,
    'lightpink': $lightpink,
    'hotpink': $hotpink,
    'deeppink': $deeppink,
    'mediumvioletred': $mediumvioletred,
    'palevioletred': $palevioletred,
    'lightsalmon': $lightsalmon,
    'coral': $coral,
    'tomato': $tomato,
    'orangered': $orangered,
    'darkorange': $darkorange,
    'orange': $orange,
    'gold': $gold,
    'yellow': $yellow,
    'lightyellow': $lightyellow,
    'lemonchiffon': $lemonchiffon,
    'lightgoldenrodyellow': $lightgoldenrodyellow,
    'papayawhip': $papayawhip,
    'moccasin': $moccasin,
    'peachpuff': $peachpuff,
    'palegoldenrod': $palegoldenrod,
    'khaki': $khaki,
    'darkkhaki': $darkkhaki,
    'greenyellow': $greenyellow,
    'chartreuse': $chartreuse,
    'lawngreen': $lawngreen,
    'lime': $lime,
    'limegreen': $limegreen,
    'palegreen': $palegreen,
    'lightgreen': $lightgreen,
    'mediumspringgreen': $mediumspringgreen,
    'springgreen': $springgreen,
    'mediumseagreen': $mediumseagreen,
    'seagreen': $seagreen,
    'forestgreen': $forestgreen,
    'green': $green,
    'darkgreen': $darkgreen,
    'yellowgreen': $yellowgreen,
    'olivedrab': $olivedrab,
    'olive': $olive,
    'darkolivegreen': $darkolivegreen,
    'mediumaquamarine': $mediumaquamarine,
    'darkseagreen': $darkseagreen,
    'lightseagreen': $lightseagreen,
    'darkcyan': $darkcyan,
    'teal': $teal,
    'lavender': $lavender,
    'thistle': $thistle,
    'plum': $plum,
    'violet': $violet,
    'orchid': $orchid,
    'fuchsia': $fuchsia,
    'magenta': $magenta,
    'mediumorchid': $mediumorchid,
    'mediumpurple': $mediumpurple,
    'rebeccapurple': $rebeccapurple,
    'blueviolet': $blueviolet,
    'darkviolet': $darkviolet,
    'darkorchid': $darkorchid,
    'darkmagenta': $darkmagenta,
    'purple': $purple,
    'indigo': $indigo,
    'slateblue': $slateblue,
    'darkslateblue': $darkslateblue,
    'mediumslateblue': $mediumslateblue,
    'aqua': $aqua,
    'cyan': $cyan,
    'lightcyan': $lightcyan,
    'paleturquoise': $paleturquoise,
    'aquamarine': $aquamarine,
    'turquoise': $turquoise,
    'mediumturquoise': $mediumturquoise,
    'darkturquoise': $darkturquoise,
    'cadetblue': $cadetblue,
    'steelblue': $steelblue,
    'lightsteelblue': $lightsteelblue,
    'powderblue': $powderblue,
    'lightblue': $lightblue,
    'skyblue': $skyblue,
    'lightskyblue': $lightskyblue,
    'deepskyblue': $deepskyblue,
    'dodgerblue': $dodgerblue,
    'cornflowerblue': $cornflowerblue,
    'mediumslateblue': $mediumslateblue,
    'royalblue': $royalblue,
    'blue': $blue,
    'mediumblue': $mediumblue,
    'darkblue': $darkblue,
    'navy': $navy,
    'midnightblue': $midnightblue,
    'white': $white,
    'snow': $snow,
    'honeydew': $honeydew,
    'mintcream': $mintcream,
    'azure': $azure,
    'aliceblue': $aliceblue,
    'ghostwhite': $ghostwhite,
    'whitesmoke': $whitesmoke,
    'seashell': $seashell,
    'beige': $beige,
    'oldlace': $oldlace,
    'floralwhite': $floralwhite,
    'ivory': $ivory,
    'antiquewhite': $antiquewhite,
    'linen': $linen,
    'lavenderblush': $lavenderblush,
    'mistyrose': $mistyrose,
);