@charset 'UTF-8';

////
/// Material Design color palettes
///
/// @group colors
///
/// @link https://www.materialui.co/metrocolors
////

$lime: #a4c400;
$green: #60a917;
$emerald: #008a00;
$teal: #00aba9;
$cyan: #1ba1e2;
$cobalt: #0050ef;
$indigo: #6a00ff;
$violet: #aa00ff;
$pink: #f472d0;
$magenta: #d80073;
$crimson: #a20025;
$red: #e51400;
$orange: #fa6800;
$amber: #f0a30a;
$yellow: #e3c800;
$brown: #825a2c;
$olive: #6d8764;
$steel: #647687;
$mauve: #76608a;
$sienna: #a0522d;

$color-metro: (
    'lime': $lime,
    'green': $green,
    'emerald': $emerald,
    'teal': $teal,
    'cyan': $cyan,
    'cobalt': $cobalt,
    'indigo': $indigo,
    'violet': $violet,
    'pink': $pink,
    'magenta': $magenta,
    'crimson': $crimson,
    'red': $red,
    'orange': $orange,
    'amber': $amber,
    'yellow': $yellow,
    'brown': $brown,
    'olive': $olive,
    'steel': $steel,
    'mauve': $mauve,
    'sienna': $sienna
);
