$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-home: "\e902";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow-up: "\ea3a";
$icon-arrow-right: "\ea3c";
$icon-arrow-down: "\ea3e";
$icon-arrow-left: "\ea40";

$icons: (
    'home': '\e902',
    'cross': '\ea0f',
    'checkmark': '\ea10',
    'arrow-up': '\ea3a',
    'arrow-right': '\ea3c',
    'arrow-down': '\ea3e',
    'arrow-left': '\ea40'
);
