@charset 'UTF-8';

////
/// General animation properties for site consistencie
///
/// @group animation
///
/// @author Samuel DIDIER-LAURENT
////


$animation-duration: 0.5s !default;
$animation-easing: ease-in-out !default;

$animations: (
    duration: $animation-duration,
    easing: $animation-easing
) !default;

/// return value of the asked index for the `$animations` map
/// @param { String } $index

@function animations($index){
    @if not map-has-key($animations, $index) {
        @warn "No z-index found for `#{$index}` in `$animations` map.";
    }
  @return map-get($animations, $index);
}
