@charset 'UTF-8';

///
/// Check if $value is an absolute length
///
/// @group validators
///
/// @param {*} $value - value to run test against
/// @return {Bool}
///
/// @require is-number
/// @require $UNITS

@function is-absolute-length($value) {
    @return is-number($value) and index(map-get($UNITS, 'absolute-length'), unit($value)) !=null;
}