@charset 'UTF-8';

////
/// Colors html -  variables and map for html default colors
///
/// @group colors
///
/// @link https://www.materialui.co/htmlcolors
////

$gainsboro: Gainsboro !default;
$lightgray: LightGray !default;
$silver: Silver !default;
$darkgray: DarkGray !default;
$gray: Gray !default;
$dimgray: DimGray !default;
$lightslategray: LightSlateGray !default;
$slategray: SlateGray !default;
$darkslategray: DarkSlateGray !default;
$black: Black !default;
$cornsilk: Cornsilk !default;
$blanchedalmond: BlanchedAlmond !default;
$bisque: Bisque !default;
$navajowhite: NavajoWhite !default;
$wheat: Wheat !default;
$burlywood: BurlyWood !default;
$tan: Tan !default;
$rosybrown: RosyBrown !default;
$sandybrown: SandyBrown !default;
$goldenrod: Goldenrod !default;
$darkgoldenrod: DarkGoldenrod !default;
$peru: Peru !default;
$chocolate: Chocolate !default;
$saddlebrown: SaddleBrown !default;
$sienna: Sienna !default;
$brown: Brown !default;
$maroon: Maroon !default;
$indianred: IndianRed !default;
$lightcoral: LightCoral !default;
$salmon: Salmon !default;
$darksalmon: DarkSalmon !default;
$lightsalmon: LightSalmon !default;
$crimson: Crimson !default;
$red: Red !default;
$firebrick: FireBrick !default;
$darkred: DarkRed !default;
$pink: Pink !default;
$lightpink: LightPink !default;
$hotpink: HotPink !default;
$deeppink: DeepPink !default;
$mediumvioletred: MediumVioletRed !default;
$palevioletred: PaleVioletRed !default;
$lightsalmon: LightSalmon !default;
$coral: Coral !default;
$tomato: Tomato !default;
$orangered: OrangeRed !default;
$darkorange: DarkOrange !default;
$orange: Orange !default;
$gold: Gold !default;
$yellow: Yellow !default;
$lightyellow: LightYellow !default;
$lemonchiffon: LemonChiffon !default;
$lightgoldenrodyellow: LightGoldenrodYellow !default;
$papayawhip: PapayaWhip !default;
$moccasin: Moccasin !default;
$peachpuff: PeachPuff !default;
$palegoldenrod: PaleGoldenrod !default;
$khaki: Khaki !default;
$darkkhaki: DarkKhaki !default;
$greenyellow: GreenYellow !default;
$chartreuse: Chartreuse !default;
$lawngreen: LawnGreen !default;
$lime: Lime !default;
$limegreen: LimeGreen !default;
$palegreen: PaleGreen !default;
$lightgreen: LightGreen !default;
$mediumspringgreen: MediumSpringGreen !default;
$springgreen: SpringGreen !default;
$mediumseagreen: MediumSeaGreen !default;
$seagreen: SeaGreen !default;
$forestgreen: ForestGreen !default;
$green: Green !default;
$darkgreen: DarkGreen !default;
$yellowgreen: YellowGreen !default;
$olivedrab: OliveDrab !default;
$olive: Olive !default;
$darkolivegreen: DarkOliveGreen !default;
$mediumaquamarine: MediumAquamarine !default;
$darkseagreen: DarkSeaGreen !default;
$lightseagreen: LightSeaGreen !default;
$darkcyan: DarkCyan !default;
$teal: Teal !default;
$lavender: Lavender !default;
$thistle: Thistle !default;
$plum: Plum !default;
$violet: Violet !default;
$orchid: Orchid !default;
$fuchsia: Fuchsia !default;
$magenta: Magenta !default;
$mediumorchid: MediumOrchid !default;
$mediumpurple: MediumPurple !default;
$rebeccapurple: RebeccaPurple !default;
$blueviolet: BlueViolet !default;
$darkviolet: DarkViolet !default;
$darkorchid: DarkOrchid !default;
$darkmagenta: DarkMagenta !default;
$purple: Purple !default;
$indigo: Indigo !default;
$slateblue: SlateBlue !default;
$darkslateblue: DarkSlateBlue !default;
$mediumslateblue: MediumSlateBlue !default;
$aqua: Aqua !default;
$cyan: Cyan !default;
$lightcyan: LightCyan !default;
$paleturquoise: PaleTurquoise !default;
$aquamarine: Aquamarine !default;
$turquoise: Turquoise !default;
$mediumturquoise: MediumTurquoise !default;
$darkturquoise: DarkTurquoise !default;
$cadetblue: CadetBlue !default;
$steelblue: SteelBlue !default;
$lightsteelblue: LightSteelBlue !default;
$powderblue: PowderBlue !default;
$lightblue: LightBlue !default;
$skyblue: SkyBlue !default;
$lightskyblue: LightSkyBlue !default;
$deepskyblue: DeepSkyBlue !default;
$dodgerblue: DodgerBlue !default;
$cornflowerblue: CornflowerBlue !default;
$mediumslateblue: MediumSlateBlue !default;
$royalblue: RoyalBlue !default;
$blue: Blue !default;
$mediumblue: MediumBlue !default;
$darkblue: DarkBlue !default;
$navy: Navy !default;
$midnightblue: MidnightBlue !default;
$white: White !default;
$snow: Snow !default;
$honeydew: HoneyDew !default;
$mintcream: MintCream !default;
$azure: Azure !default;
$aliceblue: AliceBlue !default;
$ghostwhite: GhostWhite !default;
$whitesmoke: WhiteSmoke !default;
$seashell: SeaShell !default;
$beige: Beige !default;
$oldlace: OldLace !default;
$floralwhite: FloralWhite !default;
$ivory: Ivory !default;
$antiquewhite: AntiqueWhite !default;
$linen: Linen !default;
$lavenderblush: LavenderBlush !default;
$mistyrose: MistyRose !default;

$COLORS-HTML: (
    'gainsboro': $gainsboro,
    'lightgray': $lightgray,
    'silver': $silver,
    'darkgray': $darkgray,
    'gray': $gray,
    'dimgray': $dimgray,
    'lightslategray': $lightslategray,
    'slategray': $slategray,
    'darkslategray': $darkslategray,
    'black': $black,
    'cornsilk': $cornsilk,
    'blanchedalmond': $blanchedalmond,
    'bisque': $bisque,
    'navajowhite': $navajowhite,
    'wheat': $wheat,
    'burlywood': $burlywood,
    'tan': $tan,
    'rosybrown': $rosybrown,
    'sandybrown': $sandybrown,
    'goldenrod': $goldenrod,
    'darkgoldenrod': $darkgoldenrod,
    'peru': $peru,
    'chocolate': $chocolate,
    'saddlebrown': $saddlebrown,
    'sienna': $sienna,
    'brown': $brown,
    'maroon': $maroon,
    'indianred': $indianred,
    'lightcoral': $lightcoral,
    'salmon': $salmon,
    'darksalmon': $darksalmon,
    'lightsalmon': $lightsalmon,
    'crimson': $crimson,
    'red': $red,
    'firebrick': $firebrick,
    'darkred': $darkred,
    'pink': $pink,
    'lightpink': $lightpink,
    'hotpink': $hotpink,
    'deeppink': $deeppink,
    'mediumvioletred': $mediumvioletred,
    'palevioletred': $palevioletred,
    'lightsalmon': $lightsalmon,
    'coral': $coral,
    'tomato': $tomato,
    'orangered': $orangered,
    'darkorange': $darkorange,
    'orange': $orange,
    'gold': $gold,
    'yellow': $yellow,
    'lightyellow': $lightyellow,
    'lemonchiffon': $lemonchiffon,
    'lightgoldenrodyellow': $lightgoldenrodyellow,
    'papayawhip': $papayawhip,
    'moccasin': $moccasin,
    'peachpuff': $peachpuff,
    'palegoldenrod': $palegoldenrod,
    'khaki': $khaki,
    'darkkhaki': $darkkhaki,
    'greenyellow': $greenyellow,
    'chartreuse': $chartreuse,
    'lawngreen': $lawngreen,
    'lime': $lime,
    'limegreen': $limegreen,
    'palegreen': $palegreen,
    'lightgreen': $lightgreen,
    'mediumspringgreen': $mediumspringgreen,
    'springgreen': $springgreen,
    'mediumseagreen': $mediumseagreen,
    'seagreen': $seagreen,
    'forestgreen': $forestgreen,
    'green': $green,
    'darkgreen': $darkgreen,
    'yellowgreen': $yellowgreen,
    'olivedrab': $olivedrab,
    'olive': $olive,
    'darkolivegreen': $darkolivegreen,
    'mediumaquamarine': $mediumaquamarine,
    'darkseagreen': $darkseagreen,
    'lightseagreen': $lightseagreen,
    'darkcyan': $darkcyan,
    'teal': $teal,
    'lavender': $lavender,
    'thistle': $thistle,
    'plum': $plum,
    'violet': $violet,
    'orchid': $orchid,
    'fuchsia': $fuchsia,
    'magenta': $magenta,
    'mediumorchid': $mediumorchid,
    'mediumpurple': $mediumpurple,
    'rebeccapurple': $rebeccapurple,
    'blueviolet': $blueviolet,
    'darkviolet': $darkviolet,
    'darkorchid': $darkorchid,
    'darkmagenta': $darkmagenta,
    'purple': $purple,
    'indigo': $indigo,
    'slateblue': $slateblue,
    'darkslateblue': $darkslateblue,
    'mediumslateblue': $mediumslateblue,
    'aqua': $aqua,
    'cyan': $cyan,
    'lightcyan': $lightcyan,
    'paleturquoise': $paleturquoise,
    'aquamarine': $aquamarine,
    'turquoise': $turquoise,
    'mediumturquoise': $mediumturquoise,
    'darkturquoise': $darkturquoise,
    'cadetblue': $cadetblue,
    'steelblue': $steelblue,
    'lightsteelblue': $lightsteelblue,
    'powderblue': $powderblue,
    'lightblue': $lightblue,
    'skyblue': $skyblue,
    'lightskyblue': $lightskyblue,
    'deepskyblue': $deepskyblue,
    'dodgerblue': $dodgerblue,
    'cornflowerblue': $cornflowerblue,
    'mediumslateblue': $mediumslateblue,
    'royalblue': $royalblue,
    'blue': $blue,
    'mediumblue': $mediumblue,
    'darkblue': $darkblue,
    'navy': $navy,
    'midnightblue': $midnightblue,
    'white': $white,
    'snow': $snow,
    'honeydew': $honeydew,
    'mintcream': $mintcream,
    'azure': $azure,
    'aliceblue': $aliceblue,
    'ghostwhite': $ghostwhite,
    'whitesmoke': $whitesmoke,
    'seashell': $seashell,
    'beige': $beige,
    'oldlace': $oldlace,
    'floralwhite': $floralwhite,
    'ivory': $ivory,
    'antiquewhite': $antiquewhite,
    'linen': $linen,
    'lavenderblush': $lavenderblush,
    'mistyrose': $mistyrose,
) !default;
