@charset 'UTF-8';

////
/// Material Design color palettes
///
/// @group colors
///
/// @link https://www.materialui.co/metrocolors
////

$lime: #a4c400 !default;
$green: #60a917 !default;
$emerald: #008a00 !default;
$teal: #00aba9 !default;
$cyan: #1ba1e2 !default;
$cobalt: #0050ef !default;
$indigo: #6a00ff !default;
$violet: #aa00ff !default;
$pink: #f472d0 !default;
$magenta: #d80073 !default;
$crimson: #a20025 !default;
$red: #e51400 !default;
$orange: #fa6800 !default;
$amber: #f0a30a !default;
$yellow: #e3c800 !default;
$brown: #825a2c !default;
$olive: #6d8764 !default;
$steel: #647687 !default;
$mauve: #76608a !default;
$sienna: #a0522d !default;

$color-metro: (
    'lime': $lime,
    'green': $green,
    'emerald': $emerald,
    'teal': $teal,
    'cyan': $cyan,
    'cobalt': $cobalt,
    'indigo': $indigo,
    'violet': $violet,
    'pink': $pink,
    'magenta': $magenta,
    'crimson': $crimson,
    'red': $red,
    'orange': $orange,
    'amber': $amber,
    'yellow': $yellow,
    'brown': $brown,
    'olive': $olive,
    'steel': $steel,
    'mauve': $mauve,
    'sienna': $sienna
) !default;
