<!DOCTYPE html>
<html lang="{{page-lang}}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{page-title}}</title>
        <meta name="description" content="{{page-description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{> favicon}}

        <link rel="stylesheet" href="assets/css/style.css">

    </head>
    <body>
        {{> browse-happy}}

        {{> body}}

        {{> google-analytics}}
        <script src="assets/scripts/main.js"></script>
    </body>
</html>
